// MAIN & GLOBAL START
*{
    outline: none!important;
}
.row{
    margin: 0;
    padding: 0;
}
$inputs_color: #AF3B59;
$primary_color: #8E77E1;
$secondary_color: #47B4F7;
$green: #19D363;
$gray: #a6a6a6;
$lightgray: #e5e5e5;
.orange{
    color:#FEA851;
}
.light-black{
    color: #333;
}
.gray{
    color: $gray;
}
.primary-color{
    color:$primary_color;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-left:0;
    padding-right: 0;
}
.only-mobile{
    display: none!important;
}
.bold{
    font-weight: 600;
}
.hide{
    display: none!important;
}
body{
    font-size: 13px;
    background-color: #f6f7f8;
    font-family: 'Open Sans', sans-serif;
    &.freeze{
        overflow: hidden;
    }
}
a{
    color: $secondary_color;
    transition: 300ms;
    &:hover{
        text-decoration: none;
        color:$secondary_color;
    }
}
.wrapper{
    margin: 0 auto;
    max-width: 1180px;
}
.list-horizontal{
    display: flex;
    li{
        padding-right: 55px;
        margin-bottom: 0!important;
    }
}
.big-notification{
    z-index: 9;
    width: 325px;
    position: absolute;
    right: 30px;
    top: 70px;
    background-color: #fff;
    border-radius: 24px;
    display: flex;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    .spike{
        -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        background-color: #fff;
        position: absolute;
        display: block;
        height: 8px;
        width: 16px;
        top: -8px;
        right: 122px;
    }
    .noti-img{
        padding-right: 10px;
        img{
            height: 60px;
            width: 60px;
        }
    }
    .noti-message{
        .user{
            a{
                margin: 0;
                font-size: 16px;
                color: #000;
                font-weight: 600;
            }
        }
        .mess{
            color: $gray;
            font-size: 14px;
            a{
                color: $gray;
                margin: 0;
            }
        }
    }
    .buttons{
        display: flex;
        padding-top: 20px;
        width: 100%;
        justify-content: space-between;
        margin: 5px auto 0 -40px;
    }
}
header {
    background-image: -moz-linear-gradient( 13deg, rgb(62,58,115) 0%, rgb(179,61,90) 100%);
    background-image: -webkit-linear-gradient( 13deg, rgb(62,58,115) 0%, rgb(179,61,90) 100%);
    background-image: -ms-linear-gradient( 13deg, rgb(62,58,115) 0%, rgb(179,61,90) 100%);
    width: 100%;
    // height: 245px;
    .mobile-top-bar{
        display: none;
    }
    .top-bar{
        padding:15px 20px;
        // border-bottom: 1px solid rgba(255, 255, 255, .25);
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            margin: 0 15px;
        }
        .left{
            a{
                margin: 0 5px;
            }
        }
        .float-right{
            display: flex;
            flex-direction: row;
        }
        .btn{
            margin: -6px 5px 0px;
        }
        .user{
            color:#fff;
            img{
                padding-right: 10px;
            }
        }
    }
    .line1, .line2{
        display: inline-block;
        position: absolute;
        width: calc(50% - 40px);
        border-top: 1px solid rgba(255, 255, 255, .25);
        border-top-width: 1px;
    }
    .line1{
        left: 0;
    }
    .line2{
        right: 0;
    }
    .search-box{
        position: relative;
        width: 500px;
        text-align: center;
        margin: 0 auto;
        padding:32px 0;
        .logo{
            background-color: transparent;
            padding: 0 20px;
            top: -25px;
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
        }
        .search-bar{
            position: relative;
            margin:20px 0;
            background-color: rgb(198, 55, 92);
            box-shadow: 0px 15px 15px 0px rgba(114, 74, 140, 0.18);
            width: 100%;
            border-radius: 25px;
            padding:8px 0;
            background-image: url(../img/icons/search.svg);
            background-position: 10px center;
            background-repeat: no-repeat;
            background-size: 24px;
            input{
                background-color: transparent;
                color:#fff;
                border: none;
                outline: none;
                width: 75%;
                font-size: 15px;
                font-weight: 600;
                margin-left: 35px;
                &::placeholder{
                    color: #fff;
                    opacity: 1;
                }
            }
            button{
                cursor: pointer;
                border: none;
                background-color: #fff;
                padding:5px 25px;
                border-radius: 25px;
                float: right;
                margin-top: -3px;
                margin-right: 5px;
            }
        }
    }
    nav{
        border-top: 1px solid rgba(255, 255, 255, .25);
        text-align: center;
        background-color: #fff;
        ul{
            padding:0;
            margin: 0;
            li{
                display: inline-block;
                a{
                    color:#000;
                    font-weight: 600;
                }
                padding:14px;
                &.active{
                    border-bottom: 3px solid $primary_color;
                }
            }
        }
    }
  }
.btn{
  padding:7px 20px;
  position: relative;
  font-size: 13px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 0px 15px 15px 0px rgba(114, 74, 140, 0.1);
  .img-side-box{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: -1px;
        top: 0;
        padding: 8px;
        height: 100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        width: 40px;
        img,svg{
            fill:#fff;
            height: 15px;
        }
    }
        a:hover{
            color: #fff!important;
        }
}
a.btn:hover{
    color:#fff;
}
.purple-btn{
    background-color: $primary_color;
    color:#fff;
    border-radius: 50px;
    .img-side-box{
        background-color: #724A8C;
    }
}
.white-btn{
    border-radius: 50px;
    background-color: #fff;
    color: #b64061;
    &:hover{
        color:#b64061!important;
    }
    .img-side-box{
        background-color: #FBF9FB;
    }
}
.lightpurple-btn{
    padding:5px 20px;
    color:#fff;
    background-color: $primary_color;
    border-radius: 50px;
}
.cancel-btn{
    background-color: $lightgray;
    border-radius: 50px;
    color: $gray;
    padding: 5px 20px;
    border: 1px solid #ddd;
}
.circle-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 50%;
    svg{
        width: 17px;
    }
}
.outline-btn{
    border: 1px solid #000;
    border-radius: 50px;
    background-color: #Fff;
    box-shadow: none;
    margin: 0 auto;
}
.caret-down-btn{
    border: 1px solid $gray;
    background-image: url('../img/icons/caret_down.svg');
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: center center;
    transition: 300ms;
    outline: none;
    box-shadow: none;
    &.active{
        transform: rotate(180deg);
    }
}
.top-border-thin{
    border-top: 1px solid $lightgray;
}
.bold-top-blue{
    padding-top: 20px!important;
    background: -moz-linear-gradient(top, $secondary_color 0%, $secondary_color 7px, #ffffff 7px);
    background: -webkit-linear-gradient(top, $secondary_color 0%,$secondary_color 7px,#ffffff 7px);
    background: linear-gradient(to bottom, $secondary_color 0%,$secondary_color 7px,#ffffff 7px);
}
.bold-top-green{
    padding-top: 20px!important;
    background: -moz-linear-gradient(top, $green 0%, $green 7px, #ffffff 7px);
    background: -webkit-linear-gradient(top, $green 0%, $green 7px,#ffffff 7px);
    background: linear-gradient(to bottom, $green 0%, $green 7px,#ffffff 7px);
}
.bold-top-purple{
    padding-top: 20px!important;
    background: -moz-linear-gradient(top, $primary_color 0%, $primary_color 7px, #ffffff 7px);
    background: -webkit-linear-gradient(top, $primary_color 0%, $primary_color 7px,#ffffff 7px);
    background: linear-gradient(to bottom, $primary_color 0%, $primary_color 7px,#ffffff 7px);
}
.outsite-heading{
    padding: 30px 0 10px 10px;
    font-size: 18px;
    font-weight: 600;
}
#filters_toggle{
    display: none;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: none;
    z-index: 10;
    width: 100%;
    background-color: $inputs_color;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    outline: none;
}
.filters{
    background-color: #fff;
    width: 100%;
    max-width: 250px;
    margin: 40px 0;
    border-radius: 10px;
    box-shadow: 0px 3px 20px 0px rgba(114, 74, 140, 0.18);
    padding:25px;
    line-height: 20px;
    .heading{
        display: block;
        font-size: 14px;
        padding: 10px 0;
        font-weight: 600;
    }
    input[type="text"]{
        outline: none;
        width: 100%;
        border: 1px solid #D7D7D7;
        border-radius: 25px;
        padding: 10px 50px 10px 20px;
    }
    .custom-radio-box{
        position: relative;
        color: $gray;
        input[type="radio"]{
            opacity: 0;
            cursor: pointer;
            margin-left:5px;
            &:checked ~ .custom-mark{
                background-image: url('../img/thumb.svg');
            }
        }
        .custom-mark{
            position: absolute;
            top: 4px;
            left: 0;
            width: 13px;
            height: 13px;
            background-image: url('../img/circle.svg');
            display: inline-block;
            border-radius: 50%;
            cursor: pointer;
        }
    }

    .text-input{
        img{
            position: absolute;
            right: 20px;
            top:25%;
            height: 50%;
        }
    }
    p{
        position: relative;
    }
    label{
        width: 100%;
        .amount{
            color:#a6a6a6;
        }
    }

    .purple-btn{
        margin: 0 auto;
        display: block;
        padding:10px 30px;
    }
    .custom-range{
        .rangeslider--horizontal{
            height: 3px;
        }
        .rangeslider__handle{
            width: 20px;
            height: 20px;
            background-image: url('../img/thumb.svg');
            box-shadow: none;
        }
        .rangeslider__fill{
            background-color: $inputs_color;
        }
        .rangeslider{
            box-shadow: none;
            background-color: #d7d7d7;
        }
        height: 16px;
        position: relative;
        &::before{
            left: -2px;
            position: absolute;
            display: block;
            content: ' ';
            height: 7px;
            width: 7px;
            background-color: $inputs_color;
            border-radius: 50%;
            top:-2px;
        }
        &::after{
            right:-2px;
            position: absolute;
            display: block;
            content: ' ';
            height: 7px;
            width: 7px;
            background-color: #d7d7d7;
            border-radius: 50%;
            top:-2px;

        }
    }
    input[type='range']{
        width: 100%;
        -webkit-appearance: none;
        appearance: none;
        outline: none;


        &::-webkit-slider-runnable-track {
          width: 100%;
          height: 3px;
          background: #d7d7d7;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          position: relative;
          display:block;
          height: 20px;
          width: 20px;
          background: $inputs_color;
          background-image: url('../img/thumb.svg');
          border-radius: 100%;
          margin-top: -8px;
          border: 0;
          top: 0;
          cursor: pointer;
        }
        &::-moz-range-track,
        &::-moz-range-progress {
          width: 100%;
          height: 3px;
          background: #ccc;
        }

        &::-moz-range-progress{
          background: $inputs_color;
        }

        &::-moz-range-thumb {
          appearance: none;
          margin: 0;
          height: 20px;
          width: 20px;
          background: $inputs_color;
          background-image: url('../img/thumb.svg');
          border-radius: 100%;
          border: 0;
          transition: background-color 150ms;
          cursor: pointer;
        }
    }
    .salary-subtext{
        color:#000;
        font-size: 13px;
    }
}
.head-panel{
    margin-top: 35px;
    .searched-job{
        font-size: 18px;
        color:$primary_color;
        margin-bottom: 5px;
        font-weight: 600;
    }
    .found-amount{
        color: $gray;
        font-size: 13px;
    }
    .sort-btns-box{
        margin-top: -20px;
        float: right;
        border-radius: 13px;
        overflow: hidden;
        padding: 0;
        display: flex;
        background-color: #fff;
        li{
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            border:1px solid #EDEDED;
            padding: 10px 0;
            &.active{
                background-color: $primary_color;
            }
            img{
                height: 15px;
            }
        }
    }
}
.job-list{
    margin-top: 30px;
    h4{
        font-size: 18px;
        &.recommended{
            color: $secondary_color;
            font-weight: 600;
        }
    }
    .job-list-item{
        border-top: 1px solid #EDEDED;
        border-bottom: 1px solid #EDEDED;
        border-radius: 25px;
        margin: 15px 0;
        position: relative;
        padding: 13px 3px 0px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        background-color: #fff;
        &.recommended{
            background-image: url('../img/recommened_bg.png');
            background-repeat: no-repeat;
            background-size: cover;
            box-shadow: 0px 3px 20px 0px rgba(114, 74, 140, 0.18);
            .job-img{
                margin-left: 35px
            }
        }
        .job-img{
            padding:20px 0;
            text-align: center;
            width: 20%;
            margin-left: 10px;
            height: 111px;
        }
        .name{
            color:#252525;
            font-size: 18px;
            font-weight: 600;
        }
        .company{
            color:$secondary_color;
            font-size: 15px;
        }
        .little-info{
            display: flex;
            color: $gray;
            font-size: 13px;
            div{
                padding: 20px 30px;
                &::before{
                    padding-right: 5px;
                    transform: translateY(4px);
                    display: inline-block;
                }
            }
            .place{
                padding-left: 0;
                &::before{
                    content: url('../img/icons/place.png');
                }
            }
            .salary::before{
                content: url('../img/icons/salary.png');
            }
            .date::before{
                content: url('../img/icons/date.png');
            }
        }
    }
}
.save-btn{
    position: absolute;
    right: 30px;
    bottom:30px;
    border:none;
    background-color: #fff;
    color: $primary_color;
    cursor: pointer;
    &::before{
        content: url('../img/icons/save.png');
        padding-right: 5px;
        display: inline-block;
        transform: translateY(3px);
    }
}
.more-jobs-btn{
    button{
        margin: 0 auto 40px;
    }
}
.specialist-row{
    margin:0 0 40px;
    background-image: url(../img/specialist_bg.png);
    background-position: center;
    color:#fff;
    img{
        margin-top: -15px;
    }
    h2{
        margin-bottom: 30px;
        .bigger-font{
            font-size: 38px;
            display: block;
        }
        font-size: 28px;
    }
    input{
        padding: 10px 20px;
        border-radius: 25px;
        border: none;
        background-color: #724A8C;
        width: 395px;
        &::placeholder{
            color:#fff;
        }
    }
    button{
        background-color: #C6375C;
        border: none;
        outline: none;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-left: 5px;
        img{
            margin-top: 0;
        }
    }

}
#about{
    background-image: url('../img/about_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #CBC2ED;
    padding:89px;
    font-size: 13px;
    h2{
        color:#fff;
        font-weight: 600;
        font-size: 18px;
    }
    .orange{
        font-size: 15px;
    }
    hr{
        height: 2px;
        width: 35px;
        background-color: #A996EE;
    }
    .btn{
        width: 90px;
        margin: 0 auto;
        .img-side-box{
            background-color: #A996EE;
        }
    }
}
footer{
    background-image: -moz-linear-gradient( 13deg, rgb(62,58,115) 0%, rgb(179,61,90) 100%);
    background-image: -webkit-linear-gradient( 13deg, rgb(62,58,115) 0%, rgb(179,61,90) 100%);
    background-image: -ms-linear-gradient( 13deg, rgb(62,58,115) 0%, rgb(179,61,90) 100%);
    color:#fff;
    padding:40px;
    .partners{
        text-align: center;
        padding: 30px 0;
        border-bottom: 1px solid rgba(255, 255, 255, .25);
        h2{
            font-size: 18px;
            margin-bottom: 20px;
            font-weight: 600;
        }
        img{
            width: 100%;
        }
    }
    h3{
        font-size: 16px;
        font-weight: 600;
    }
    p, a{
        font-size: 13px;
    }
    ul{
        padding:0;
        list-style: none;
        a{
            color:#fff;
        }
    }
    .row{
        padding: 30px 0;
        div{
            padding-right: 15px;
        }
        input{
            padding: 10px 20px;
            border-radius: 25px;
            border: none;
            &:focus{
                outline: none;
            }
            &::placeholder{
                color:#67447d
            }
        }
        button{
            background-color: $primary_color;
            border: none;
            outline: none;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            margin-left: 5px;
        }
    }
}
.copyright{
    font-size: 13px;
    padding:20px;
    color: #000;
    a{
        padding: 0 10px;
    }
    img{
        height: 15px;
    }
}


// MAIN & GLOBAL END
// OFFERS START
.breadcrumbs{
    background-color: #fff;
    padding: 15px 20px;
    a{
        padding-right: 30px;
        color: #333;
        position: relative;
        &:not(:last-child)::after{
            content: url('../img/icons/angle-right.svg');
            height: 2px;
            width: 7px;
            position: absolute;
            right: 10px;
            display: inline-block;
        }
        &.active{
            text-decoration: underline;
        }
        &:hover{
            text-decoration: underline;
        }
    }
}
.offer-side-bar{
    padding: 35px;
    .promoted{
        max-width: 310px;
        overflow: hidden;
        padding: 0 20px;
        img{
            margin-left: -20px;
        }
        .info-body{
            padding: 0px ;
            align-items: center;
        }
        .info-footer{
            padding: 0;
            button{
                box-shadow: none;
                margin: 10px 0;
                float: right;
            }
        }
    }
    .heading{
        font-size: 18px;
        font-weight: 600;
        color: #333;
    }
    .job-list-item{
        box-shadow: 0px 3px 20px 0px rgba(114, 74, 140, 0.18);
        .job-img{
            margin-right: 10px;
        }
        .name{
            font-size: 18px;
        }
        .little-info{
            div{
                padding: 20px 15px 0;
            }
        }
    }
    .apply-btn{
        margin-bottom: 10px;
    }
}
.apply-btn{
    background-color: $green;
    // width: 100%;
    text-align: center;
    justify-content: center;
    color: #fff;
    border-radius: 50px;
    padding: 5px 40px;
    .img-side-box{
        background-color: #15B360;
    }
}
.offer-main-side{
    .row{
        margin-top: -10px;
    }
    .info-box{
        .info-body {
            // display: flex!important;
        }

    }
}
.info-box{
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 3px 20px 0px rgba(114, 74, 140, 0.18);
    padding: 10px 20px;
    margin: 10px 5px;
    overflow: hidden;
    .heading{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    &.main-info-box{
        margin-top: 35px;
        padding: 20px 0;
    }
    .info-header{
        padding: 0 30px;
        border-bottom: 1px solid $lightgray;
        .first-line{
            font-size: 18px;
            margin-bottom: 5px;
            .name{
                font-weight: 600;
            }
            .company{
                color: $secondary_color;
            }
        }
        .second-line{
            color: $gray;
            font-weight: 600;
            span{
                padding-right: 15px;
            }
            .salary{
                color:#333;
            }
        }
    }
    .info-body{
        padding: 20px 30px;
        display: flex;
        .company-img{
            margin: 15px;
            img{
                padding: 5px;
                border: 1px solid $gray;
                border-radius: 50%;
            }
        }
        .about-company{
            .name{
                font-weight: 600;
                font-size: 14px;
                padding-bottom: 15px;
            }
            .description{
                color: $gray;
            }
            .location{
                font-weight: 600;
                padding-bottom: 10px;
            }
            a{
                color: $secondary_color;
                font-weight: 600;
            }
            .btn{
                margin-top: 10px;
                border-radius: 5px;
                box-shadow: none;
            }
        }
    }
    .info-footer{
        padding: 0 30px;
        border-top: 1px solid $lightgray;
        .save-btn{
            bottom: 10px;
        }
        .arrow-right{
            margin-bottom: -15px;
        }
    }
}
.requirements{
    .heading{
        padding-bottom:10px;
    }
    .flex-box{
        div{
            width: 31%;
        }
    }
}
.skills-list{
    padding: 0;
    list-style: none;
    li{
        margin: 15px 0;
        padding-left: 10px;
        text-align: left;
        position: relative;
        display: flex;
        justify-content: space-between;
        &::before{
            height: 3px;
            width: 3px;
            content: "";
            display: inline-block;
            background-color: #448bb9;
            border-radius: 50%;
            position: absolute;
            top: 8px;
            left: 0;
        }
        span{
            background-color: $lightgray;
            height: 8px;
            width: 8px;
            display: inline-block;
            margin: 0 1px;
            border-radius: 50%;
            &.full{
                background-color: $secondary_color;
            }
        }
        .text{
            color: $gray;
        }
    }
}
.map-box{
    position: relative;
    overflow: hidden;
    height: 300px;
    .map-heading{
        position: absolute;
        z-index: 3;
        width: 35%;
        height: 35%;
        left:0;
        top:0;
        padding: 20px;
        background: radial-gradient(ellipse at left top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 70%);
    }
    .map-box-content{
        p{
            position: relative;
            z-index: 3;
        }
        .info-box{
            width: 40%;
            float: right;
            z-index: 2;
            .description{
                color:$gray;
            }
            .apply-btn{
                width: auto;
                padding: 0 40px;
            }
            .buttons{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 10px;
                button{
                    padding: 0 30px;
                    display: inline-block;
                    box-shadow: none;
                }
            }
        }
    }
    #map{
        position: absolute;
        top:0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
}
// OFFERS END
// USER START
.user-box{
    padding-top: 0!important;
    text-align: center;
    .info-header{
        background-color: $primary_color;
        height: 130px;
        position: relative;
        .user-panel{
            width: 210px;
            height: 165px;
            margin: 0 auto;
            position: relative;
            .action-btn{
                background-color: #fff;
                height: 50px;
                width: 50px;
                display: block;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                &#mail{
                    left: 0;
                    top: 65px;
                }
                &#users{
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    top: 15px;
                }
                &#exp{
                    right: 0;
                    top: 65px;
                }
            }
            .big-user-img{
                padding-top: 80px;
            }
        }
            #settings{
               position: absolute;
               right: 10px;
               bottom: 10px;
            }
    }
    .info-body{
        padding-top: 60px;
        .body-box{
            width: 375px;
            margin: 0 auto;
        }
        .name{
            font-size: 18px;
            padding-bottom: 3px;
            .notification-box{
                display: inline-block;
                position: relative;
                .notification{
                    background-color: #E53935;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 8px;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    position: absolute;
                    bottom: 0;
                    right: -5px;
                }
            }
        }
        .position{
            color: $gray;
            a{
                color: $gray;
                text-decoration: underline;
            }
            padding-bottom: 20px;
        }
        .activity-box{
            border-top: 1px solid $lightgray;
            padding: 10px 0 0;
            color: $gray;
            #activity-value{
                color: #000;
                font-weight: 600;
            }
            .progress{
                position: relative;
                background-color:#D9DDE6;
                height: 4px;
                z-index: 2;
                width: 200px;
                margin: 0 auto;
                .progress-bar{
                    width: 78%;
                    background-color: #3882FF;
                }
                .bars{
                    width: 100%;
                    height: 4px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: space-around;
                    z-index: 1;
                    .bar{
                        position: absolute;
                        left: 20%;
                        border-radius: -50%;
                        background-color: white;
                        width: 5px;
                        height: 4px;
                        &:nth-child(2){
                            left: 40%;
                        }
                        &:nth-child(3){
                            left: 60%;
                        }
                        &:nth-child(4){
                            left: 80%;
                        }
                    }
                }
            }
        }
    }
    .info-footer{
        padding: 20px 20px 40px;
        .heading{
            padding-bottom: 15px;
        }
        .description{
            color:$gray;
        }
    }
}
ul{
    list-style: none!important;
}

.user-list-text{
    display: none;
}
.user-list-img{
    img{
        position: absolute;
        left: 0;
        top: 0;
        height: 61px;
        width: 61px;
    }
}
.main-component{
    margin-top: 25px;
}
.user-list-box{
    padding:0px 20px 20px;
    margin-top: -15px;
    .heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        span{
            display: flex;
            align-items: center;
            .list-img{
                height: 15px;
                padding-right: 17px;
            }
        }
    }
    &.recently-joined{
        margin-top: 10px;
        padding: 15px;
        .user-list .user-list-img img{
            height: 40px;
            width: 40px;
        }
    }
    .user-list{
        list-style:none;
        padding: 0;
        .user-list-text{
            display: block;}
            .user-list-img{
                img{
                    position: relative;
                    height: 61px;
                    width: 61px;
                }
            }
        &.recommended{
            li{
                position: relative;
                background-color: #fff;
                padding: 12px;
                border-radius: 15px;
                box-shadow: 0px 3px 20px 0px rgba(114, 74, 140, 0.18);
                margin: 7.5px 0;
                width: 100%;
                display: flex;
                align-items: center;

                .user-list-text{
                    font-weight: 300;
                    .position{
                        color: $secondary_color;
                    }
                    .name{
                        a{
                            color: #000;
                            border: none;
                            padding: 0;
                        }
                    }
                }
            }
        }
        li, a{
            display: flex;
            border-bottom: 1px solid $lightgray;
            padding: 10px 0;
            color: #000;
            .user-list-img{
                padding-right: 15px;
            }
            .user-list-text{
                .name{
                    font-weight: 600;
                }
                .position{
                    color: $gray;
                }
            }
        }
    }
    .lightpurple-btn{
        margin: 0 auto;
        box-shadow:none;
    }
}
.contact{
    padding: 20px 20px 5px;
    .flex-box{
        padding:0 0 15px;
    }
}
.flex-box{
    display: flex;
    justify-content: space-between;
}
.exp-list{
    padding: 0;
    li{
        display: flex;
        position: relative;
        padding: 15px 0 0;
        &:not(:last-child){
            padding:15px 0 25px;
            border-bottom: 1px solid $lightgray;
        }
        .exp-img{
            margin-right: 10px;
            border: 1px solid $lightgray;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            flex-basis: 40px;
            flex-grow: 0;
            flex-shrink: 0;
        }
        .name{
            font-size: 14px;
            padding: 10px 0 20px;
        }
        .date{
            position: absolute;
            top: 25px;
            right: 0;
            color: $gray
        }
        .description{
            color: $gray;
            max-width: 470px;
        }
    }
}
.connect{
    .skills-list{
        li{
            .text{
                width: 45%;
            }
        }
    }
    .info-footer{
        color: $gray;
        padding: 10px 0;
        .btn{
            margin: 0 auto;
            box-shadow: none;
        }
    }
}
.saved-jobs-list{
    ul{
        margin-top: -5px;
        list-style: none;
        padding: 0;
        li{
            position: relative;
            border-bottom: 1px solid $lightgray;
            padding: 8px 0;
            .name{
                font-size: 14px;
                font-weight: 600;
                padding-bottom: 5px;
                a{
                    font-weight: 400;
                }
            }
            .details{
                color: $gray;
                .location{
                    padding: 0 45px 5px 20px;
                    position: relative;
                    &::before{
                        content: url('../img/icons/place.png');
                        padding-right: 5px;
                        position: absolute;
                        left: 0px;
                        top: -3px;
                    }
                }
                .salary{
                    position: relative;
                    &::before{
                        content: url('../img/icons/salary.png');
                        position: absolute;
                        left: -25px;
                        top: -3px;
                    }
                }
            }
        #delete-btn{
            position: absolute;
            right: 0;
            top: 12px;
            background-color: $lightgray;
            color: #fff;
            border: none;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            background-image: url('../img/icons/cross.svg');
            background-size: 45%;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
}
        .lightpurple-btn{
            box-shadow: none;
            margin: 0 auto;
        }
}
.slider-box{
    padding: 20px 0;
    .heading{
        font-size:17px;
    }
    .slider{
        // .slick-list{
        //     max-width: 786px;
        // }
        .slide{
            padding: 0;
            .img{
                height: 122px;
                overflow: hidden;
                width: 100%;
                border-bottom: 1px solid $lightgray;
                img{
                    margin: 0 auto;
                }
            }
            .text{
                padding: 10px;
                .title{
                    margin-bottom: 0;
                    font-size: 14px;
                    font-weight: 600;
                }
                .organizator{
                    color: $gray;
                    margin-bottom:15px;
                }
                .details{
                    color: $gray;
                    .location{
                        padding-right: 45px;
                        &::before{
                            // content: url('../img/icons/pin.svg');

                        }
                    }
                    .date{
                        &::before{
                            // content: url('../img/icons/clock.png');

                        }
                    }
                    div{
                        display: inline-block;
                    }
                }
                .status{
                    border-top: 1px solid $lightgray;
                    margin-top: 10px;
                    padding-top:10px;
                    font-size: 14px;
                    text-align:center;
                    .apply-btn{
                        padding: 5px 30px;
                        width: auto;
                        margin: 0 auto;
                        box-shadow: none;
                    }
                    p{
                        margin: 9px 0;
                    }
                }
            }
        }
    }
}
// USER END
// ADD START
    #dragula_choose_cancel{
        display: none
    }
    .page-heading{
        color: $primary_color;
        font-size: 18px;
        padding:30px 0 0 15px;
        display: inline-block;
    }
    .add-component-user-email{
        color: #fff;
        font-size: 15px;
        display: inline-block;
        padding-left: 33%;
    }
    .components{
        // height: 1600px;
    }
    .add-new-component{
        background-image: url('../img/recommened_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .add-new-component-p{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        margin: 25px 0;
    }
    .plus-circle{
        cursor: pointer;
        background-color: transparent;
        border: 1px solid #000;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: inline-block;
        background-image: url('../img/icons/plus.svg');
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center center;
        margin-right: 10px;
    }
    .add-employers-list{
        padding: 0;
        font-size: 0;
        li{
            background-image: url('../img/icons/add_empolyer.png');
            background-position: center center;
            background-repeat: no-repeat;
            margin-right: 10px;
            margin-bottom: 10px;
            display: inline-block;
            background-color: #F3F5F6;
            border:1px solid $lightgray;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            position: relative;
            cursor: pointer;
            transition: 300ms;
            &:hover:not(.empty-slot){
                background-color: red;
                background-size: 15px;
                border: 1px solid red;
                background-image: url('../img/icons/cross.svg');
                img{
                    opacity: .2;
                }
            }
        }
    }

    .component{
        .info-header{
            padding: 0 0 20px;
        }
        .info-body{
            padding: 10px 0 20px;
            .row{
                width: 100%;
            }
            &.requirements{
                label{
                    width: 95%;
                    .inputs-box{
                        display: flex;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                        input{
                            margin-right: 10px;
                            margin-bottom: 10px;
                            width: 163px;
                        }
                    }
                }
                p{
                    color: $gray;
                    margin: 5px 0 5px;
                    display: flex;
                    align-items: center;
                    .plus-circle{
                        border-color: $gray;
                        background-image: url('../img/icons/plus-gray.svg');
                    }
                }
            }
        }
        label{
            font-size: 14px;
            padding-top: 10px;
            width: 90%;
            input{
                margin-top: 5px;
                color: $gray;
                display: block;
                border: none;
                background-color: #fff;
                box-shadow: 0 3px 10px #eee;
                width: 100%;
                border-radius: 25px;
                padding: 10px 15px;
            }
        }
        select{
            display: block;
            width: 100%;
            padding: 10px 15px;
            border-radius: 25px;
            appearance: none;
            -ms-appearance:none;
            color: $gray;
            background-image: url('../img/icons/caret_down.svg');
            background-position: center right 25px;
            background-size: 13px 7px;
            background-repeat: no-repeat;
            -webkit-appearance: none;
            border: none;
            background-color: #fff;
            box-shadow: 0 3px 10px #eee;
            margin-top: 5px;
        }
        .info-footer{
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $gray;
            padding: 0;
            .apply-btn{
                padding: 5px 60px;
            }
            button{
                margin: 0 5px;
                display: inline-block;
            }
        }
        .two-input-line{
            display: inline-block;
            flex: 1 0 auto;
            >div{
                display: flex;
                justify-content: space-between;
                input{
                    width: 48%;
                }
            }
        }
    }
    .url-input{
        color: $secondary_color!important;
    }
    .panel{
        border-radius: 10px;
        background-color: #fff;
        display: flex;
        overflow: hidden;
        .panel-item{
            padding: 10px 15px;
            img{
                height: 15px;
            }
            &.active{
                background-color: $primary_color;
            }
        }
    }
// ADD END
// TESTS START
.info-box .info-body{
    .job-list-item{
        width: 80%;
        margin: 0 auto;
        border:1px solid $lightgray;
        box-shadow: 0px 0px 24px $lightgray;
    }
}
.accepting-box{
    .info-body{
        .job-list{
            text-align: left;
        }
    }
}
.your-offer-decision{
    display: flex;
    position: absolute;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    right: -20px;
    top: 50px;
    border-radius: 50%;
    &.accepted{
        background-color: $green;
        background-image: url('../img/icons/check.svg');
        background-position: center center;
        background-size: 20px;
        background-repeat: no-repeat;
    }
    &.rejected{
        background-image: url('../img/icons/check.svg');
        background-position: center center;
        background-size: 20px;
        background-repeat: no-repeat;
    }
    &.waiting{
        background-color: $gray;
        background-image: url('../img/icons/dots.svg');
        background-position: center center;
        background-size: 20px;
        background-repeat: no-repeat;
    }
}
.question{
    display: flex;
    label{

        &:not(:last-child){
            margin-right:10px
        }
        &:first-child{
            width: 140%;
        }
        &:last-child{
            width: 60%;
        }
    }
}
.visible{
    display: block!important;
}
.add-new-test{
    display: none;
}
#create_test_btn{
    cursor: pointer;
}
// TESTS END
// HR START
.decision-list{
    padding: 0;
    .user-list{
        li, a{
            background-color: #fff;
            padding:20px;
            margin: 10px 0;
            border-radius: 25px;
            align-items: center;
            position: relative;
            .position{
                color: $secondary_color!important;
            }
            .name{
                color: #000;
            }
            .your-offer-decision{
                top: 30px;
            }
        }
    }
}
li.gu-transit {
    list-style:none;
}
#dragula_right .recommended-user{
    cursor: pointer;
}
// HR END
// PROJECT START
.tech-list{
    border-bottom: 2px solid $lightgray;
    text-align: center;
    li{
        display: inline-block;
        width: 24%;
        margin:0 0 5px;
    }
}
.top-border-lightgray{
    margin-top: 10px;
    border-top: 1px solid $lightgray;
    padding-top: 15px;
    margin-bottom: 5px;
}
.description-box{
    p{
        color: $gray;
    }
    .more{
        display: none;
    }
}
.expanded{
    max-height: 100%!important;
}
.team-list{
    margin-top: 15px;
    padding: 0;
    li{
        margin-right: 10px;
        display: inline-block;
        width: 232px;
        border-radius: 20px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, .2);
        padding: 20px;
        text-align: center;
        margin-bottom: 15px;
        &:nth-child(3n){
            margin-right: 0;
        }
        .img{
            border-bottom: 1px solid $lightgray;
            padding: 20px 0;
        }
        .text{
            padding: 10px 20px;
            p{
                margin-bottom: 15px;
            }
            .name{
                color: #000;
            }
        }
    }
}
body{
    overflow: hidden;
}
.modal{
    background-color: rgba(0, 0, 0, .5);
    overflow-y: scroll;

    .row{
        margin: 50px auto 0;
        width: 80%;
        
    }
    .user-list-box{
        margin-top: 0;
    }
}
// PROJECT END
@media only screen and (max-width: 991px) {
    .only-mobile{
        display: block!important;
    }
    #dragula_choose_cancel{
        display: flex;
        margin-bottom: 20px;
    }
    #dragula_choose_box{
        position: fixed;
        width: 100%;
        background-color: rgba(0, 0, 0, .5);
        bottom: -2000px;
        left: 0;
        right: 0;
        z-index: 9;
        padding: 0 5%;
        height: 100%;
        overflow: scroll;
        margin: 0 auto;
        transition: 300ms;
        &.showed{
            bottom: 0;
        }
    }
    .component{
        .info-footer{
            padding: 20px;
            text-align: center;
            display: block;
            span:first-child{
                margin-bottom: 5px;
                display: flex;
                justify-content: flex-start;
            }
        }
    }
    .requirements{
        .flex-box{
            display: block;
            > div{
                width: 100%;
                .dots{
                    width: auto;
                }
            }
        }
    }
    .contact{
        .flex-box{
            display: block;
            text-align:center;
        }
    }
    .connect{
        .skills-list{
            li{
                .text{
                    width: auto;
                }
            }
        }
    }

    body{
        margin-bottom: 50px;
    }
    main{
        padding: 0 10px;
    }
    header{
        height: 260px;
        .search-box{
            .logo{
                top: 5px;
            }
            .search-bar{
                margin:50px 0 0;
            }
        }
        .line1, .line2{
            top: 95px;
        }
    }
    .btn{
        .img-side-box{
            width: 33px
        }
    }
    #filters_toggle{
        display: block;
        position: fixed;
        bottom: 0;
    }
    .filters{
        position: fixed;
        bottom: -100vh;
        z-index: 9;
        max-width: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        height:80%;
        overflow: scroll;
        width: 100%;
        background-color: #fff;
        transition: 400ms;
        border-radius: 0;
        &.showed{
            bottom: 50px;
        }
        .more-btn{
            display: block;
            margin: 0 auto;
        }
    }
    .specialist-row{
        margin: 0 -10px 40px;
        text-align: center;
        .specialist-text{
            margin: 30px 0
        }
        .text-right{
            text-align: center!important;
        }
        input{
            width: 230px;
        }
    }
    #about{
        margin: 0 -10px;
        background-size: cover;
        padding: 60px 90px;
    }
    .copyright{
        padding: 20px;
    }
    #filters_mask{
        display: none;
        width: 100vw;
        height: 100vh;
        background-color: #000;
        opacity: .6;
        position: fixed;
        z-index: 7;
        top: 0;
        left: 0;
        &.showed{
            cursor: pointer;
            display: block;
        }
    }
    .info-box.main-info-box{
            margin-top: 75px;
    }
    .list-horizontal{
        display: block;
    }
    .offer-side-bar{
        margin: 0 auto;
        max-width: 390px;
    }
    .requirements{
        .row{
            display: block;
            .col-md-4{
                max-width: 100%;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .exp-list li .name{
        padding-bottom: 5px;
    }
    .exp-list li .date{
        position: relative;
        top: 0;
    }
    .component .info-body.requirements label{
        .inputs-box{
            input{
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }

    .page-heading{
        margin-top: 40px;
    }
    .component{
        label{
            width: 100%;
        }
        .two-input-line{
            input{
                width: 48%;
            }
        }
    }
    .btn:not(.cancel-btn){
        padding: 10px 20px;
    }
    header{
        height: 305px;
        .top-bar{
            display: none;
        }
            .line1, .line2{
                top: 140px;
            }
        .mobile-top-bar{
            padding:15px 20px;
            display: block;
            .btn{
                width: 140px;
                margin: 5px 10px;}
            .first-line{
                a{
                    padding: 0 5px;
                    color: #fff;
                }
                        .user{
                            img{
                                padding-right: 5px;
                            }
                        }
            }
            .second-line{
                display: flex;
                justify-content: center;
                width: 100%;
                padding-top:10px;
            }
        }
        .search-box{
            width: 90%;
            .search-bar{
                input{
                    width: 60%;
                }

            }
        }
        nav{
            ul{
                li{
                    padding: 14px 5px;
                }
            }
        }
    }
    .requirements{
        .row{
            justify-content: space-around;
            .col-md-4{
                max-width: 30%;
            }
        }
    }
    .head-panel{
        margin-top: 75px;
        .sort-btns-box{
            position: absolute;
            top: 15px;
            right: 0;
            float: none;
            margin: 15px auto 15px;
        }
    }
    .specialist-row {
        .specialist-text{
            margin: 0 0 20px;
        }
        .specialist_img{
            width: 100%;
            max-width: 310px;
        }
    }
    #about{
        padding: 40px 40px;
    }
    .job-list{
        .job-list-item{
            padding: 20px;
            &.recommended{
                background-image: none;
                border: 1px solid $secondary_color;
                .job-img{
                    margin-left: 0;
                }
            }
            .job-img{
                margin-left: 0;
            }
            .little-info{
                div{
                    padding: 20px 5px;
                }
            }
        }
    }
    .map-box{
        height: 470px;
        #map{
            height: 300px;
        }
        .map-box-content{

            .info-box{
                position: absolute;
                top: 310px;
                width: 300px;
                box-shadow: none;
                text-align: center;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }
        }
    footer{
        text-align: center;
        input{
            width: 70%;
        }
    }
    .offer-main-side{
        .row{
            margin-top: -10px;
        }
        .info-box{
            .info-body{
                text-align: center;
                display: block!important;
                .btn{
                    margin: 10px auto 0;
                }
            }
        }
    }
}
@media only screen and (max-width: 440px) {
    .slider-box{
        .slider{
            .slick-list{
                margin: 0 auto;
                max-width: 320px;
            }
        }
    }
    .user-box{
        .info-body{
            .body-box{
                width: 100%;
            }
        }
    }
    .job-list{
        .job-list-item{
            .job-img{
                display: none;
            }
            }
        }
        .specialist-row {
            input{
                width: 210px;
            }
        }
        .offer-side-bar{
            padding: 35px 0;
        }
    }
    .decision-list .user-list li, .decision-list .user-list a{
        margin: 10px 20px 10px 0;
    }
    @media only screen and (max-width: 385px) {
        .job-list .job-list-item .little-info{
            display:block;
            div{
                padding:5px 0;
            }
        }
        .add-new-component p{
            font-size: 14px;
            .plus-circle{
                width: 20px;
                height: 20px;
                background-size: 10px;
            }
        }
        .component .info-footer .apply-btn{
            padding: 5px 35px;
        }
    }