* {
  outline: none !important; }

.row {
  margin: 0;
  padding: 0; }

.orange {
  color: #FEA851; }

.light-black {
  color: #333; }

.gray {
  color: #a6a6a6; }

.primary-color {
  color: #8E77E1; }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-left: 0;
  padding-right: 0; }

.only-mobile {
  display: none !important; }

.bold {
  font-weight: 600; }

.hide {
  display: none !important; }

body {
  font-size: 13px;
  background-color: #f6f7f8;
  font-family: 'Open Sans', sans-serif; }

body.freeze {
  overflow: hidden; }

a {
  color: #47B4F7;
  transition: 300ms; }

a:hover {
  text-decoration: none;
  color: #47B4F7; }

.wrapper {
  margin: 0 auto;
  max-width: 1180px; }

.list-horizontal {
  display: flex; }

.list-horizontal li {
  padding-right: 55px;
  margin-bottom: 0 !important; }

.big-notification {
  z-index: 9;
  width: 325px;
  position: absolute;
  right: 30px;
  top: 70px;
  background-color: #fff;
  border-radius: 24px;
  display: flex;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); }

.big-notification .spike {
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: #fff;
  position: absolute;
  display: block;
  height: 8px;
  width: 16px;
  top: -8px;
  right: 122px; }

.big-notification .noti-img {
  padding-right: 10px; }

.big-notification .noti-img img {
  height: 60px;
  width: 60px; }

.big-notification .noti-message .user a {
  margin: 0;
  font-size: 18px;
  color: #000;
  font-weight: 600; }

.big-notification .noti-message .mess {
  color: #a6a6a6;
  font-size: 14px; }

.big-notification .noti-message .mess a {
  color: #a6a6a6;
  margin: 0; }

.big-notification .buttons {
  display: flex;
  padding-top: 20px;
  width: 100%;
  justify-content: space-between;
  margin: 5px auto 0 -40px; }

header {
  background-image: -moz-linear-gradient(13deg, #3e3a73 0%, #b33d5a 100%);
  background-image: -webkit-linear-gradient(13deg, #3e3a73 0%, #b33d5a 100%);
  background-image: -ms-linear-gradient(13deg, #3e3a73 0%, #b33d5a 100%);
  width: 100%; }

header .mobile-top-bar {
  display: none; }

header .top-bar {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

header .top-bar a {
  margin: 0 15px; }

header .top-bar .left a {
  margin: 0 5px; }

header .top-bar .float-right {
  display: flex;
  flex-direction: row; }

header .top-bar .btn {
  margin: -6px 5px 0px; }

header .top-bar .user {
  color: #fff; }

header .top-bar .user img {
  padding-right: 10px; }

header .line1, header .line2 {
  display: inline-block;
  position: absolute;
  width: calc(50% - 40px);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-top-width: 1px; }

header .line1 {
  left: 0; }

header .line2 {
  right: 0; }

header .search-box {
  position: relative;
  width: 500px;
  text-align: center;
  margin: 0 auto;
  padding: 32px 0; }

header .search-box .logo {
  background-color: transparent;
  padding: 0 20px;
  top: -25px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0; }

header .search-box .search-bar {
  position: relative;
  margin: 20px 0;
  background-color: #c6375c;
  box-shadow: 0px 15px 15px 0px rgba(114, 74, 140, 0.18);
  width: 100%;
  border-radius: 25px;
  padding: 8px 0;
  background-image: url(../img/icons/search.svg);
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 24px; }

header .search-box .search-bar input {
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  width: 75%;
  font-size: 15px;
  font-weight: 600;
  margin-left: 35px; }

header .search-box .search-bar input::placeholder {
  color: #fff;
  opacity: 1; }

header .search-box .search-bar button {
  cursor: pointer;
  border: none;
  background-color: #fff;
  padding: 5px 25px;
  border-radius: 25px;
  float: right;
  margin-top: -3px;
  margin-right: 5px; }

header nav {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  text-align: center;
  background-color: #fff; }

header nav ul {
  padding: 0;
  margin: 0; }

header nav ul li {
  display: inline-block;
  padding: 14px; }

header nav ul li a {
  color: #000;
  font-weight: 600; }

header nav ul li.active {
  border-bottom: 3px solid #8E77E1; }

.btn {
  padding: 7px 20px;
  position: relative;
  font-size: 13px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 0px 15px 15px 0px rgba(114, 74, 140, 0.1); }

.btn .img-side-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -1px;
  top: 0;
  padding: 8px;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 40px; }

.btn .img-side-box img, .btn .img-side-box svg {
  fill: #fff;
  height: 15px; }

.btn a:hover {
  color: #fff !important; }

a.btn:hover {
  color: #fff; }

.purple-btn {
  background-color: #8E77E1;
  color: #fff;
  border-radius: 50px; }

.purple-btn .img-side-box {
  background-color: #724A8C; }

.white-btn {
  border-radius: 50px;
  background-color: #fff;
  color: #b64061; }

.white-btn:hover {
  color: #b64061 !important; }

.white-btn .img-side-box {
  background-color: #FBF9FB; }

.lightpurple-btn {
  padding: 5px 20px;
  color: #fff;
  background-color: #8E77E1;
  border-radius: 50px; }

.cancel-btn {
  background-color: #e5e5e5;
  border-radius: 50px;
  color: #a6a6a6;
  padding: 5px 20px;
  border: 1px solid #ddd; }

.circle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 50%; }

.circle-btn svg {
  width: 17px; }

.top-border-thin {
  border-top: 1px solid #e5e5e5; }

.bold-top-blue {
  padding-top: 20px !important;
  background: -moz-linear-gradient(top, #47B4F7 0%, #47B4F7 7px, #ffffff 7px);
  background: -webkit-linear-gradient(top, #47B4F7 0%, #47B4F7 7px, #ffffff 7px);
  background: linear-gradient(to bottom, #47B4F7 0%, #47B4F7 7px, #ffffff 7px); }

.bold-top-green {
  padding-top: 20px !important;
  background: -moz-linear-gradient(top, #19D363 0%, #19D363 7px, #ffffff 7px);
  background: -webkit-linear-gradient(top, #19D363 0%, #19D363 7px, #ffffff 7px);
  background: linear-gradient(to bottom, #19D363 0%, #19D363 7px, #ffffff 7px); }

.bold-top-purple {
  padding-top: 20px !important;
  background: -moz-linear-gradient(top, #8E77E1 0%, #8E77E1 7px, #ffffff 7px);
  background: -webkit-linear-gradient(top, #8E77E1 0%, #8E77E1 7px, #ffffff 7px);
  background: linear-gradient(to bottom, #8E77E1 0%, #8E77E1 7px, #ffffff 7px); }

.outsite-heading {
  padding: 30px 0 10px 10px;
  font-size: 18px;
  font-weight: 600; }

#filters_toggle {
  display: none;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: none;
  z-index: 10;
  width: 100%;
  background-color: #AF3B59;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  outline: none; }

.filters {
  background-color: #fff;
  width: 100%;
  max-width: 250px;
  margin: 40px 0;
  border-radius: 10px;
  box-shadow: 0px 3px 20px 0px rgba(114, 74, 140, 0.18);
  padding: 25px;
  line-height: 20px; }

.filters .heading {
  display: block;
  font-size: 14px;
  padding: 10px 0;
  font-weight: 600; }

.filters input[type="text"] {
  outline: none;
  width: 100%;
  border: 1px solid #D7D7D7;
  border-radius: 25px;
  padding: 10px 50px 10px 20px; }

.filters .custom-radio-box {
  position: relative;
  color: #a6a6a6; }

.filters .custom-radio-box input[type="radio"] {
  opacity: 0;
  cursor: pointer;
  margin-left: 5px; }

.filters .custom-radio-box input[type="radio"]:checked ~ .custom-mark {
  background-image: url("../img/thumb.svg"); }

.filters .custom-radio-box .custom-mark {
  position: absolute;
  top: 4px;
  left: 0;
  width: 13px;
  height: 13px;
  background-image: url("../img/circle.svg");
  display: inline-block;
  border-radius: 50%;
  cursor: pointer; }

.filters .text-input img {
  position: absolute;
  right: 20px;
  top: 25%;
  height: 50%; }

.filters p {
  position: relative; }

.filters label {
  width: 100%; }

.filters label .amount {
  color: #a6a6a6; }

.filters .purple-btn {
  margin: 0 auto;
  display: block;
  padding: 10px 30px; }

.filters .custom-range {
  height: 16px;
  position: relative; }

.filters .custom-range .rangeslider--horizontal {
  height: 3px; }

.filters .custom-range .rangeslider__handle {
  width: 20px;
  height: 20px;
  background-image: url("../img/thumb.svg");
  box-shadow: none; }

.filters .custom-range .rangeslider__fill {
  background-color: #AF3B59; }

.filters .custom-range .rangeslider {
  box-shadow: none;
  background-color: #d7d7d7; }

.filters .custom-range::before {
  left: -2px;
  position: absolute;
  display: block;
  content: ' ';
  height: 7px;
  width: 7px;
  background-color: #AF3B59;
  border-radius: 50%;
  top: -2px; }

.filters .custom-range::after {
  right: -2px;
  position: absolute;
  display: block;
  content: ' ';
  height: 7px;
  width: 7px;
  background-color: #d7d7d7;
  border-radius: 50%;
  top: -2px; }

.filters input[type='range'] {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  outline: none; }

.filters input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  background: #d7d7d7; }

.filters input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  display: block;
  height: 20px;
  width: 20px;
  background: #AF3B59;
  background-image: url("../img/thumb.svg");
  border-radius: 100%;
  margin-top: -8px;
  border: 0;
  top: 0;
  cursor: pointer; }

.filters input[type='range']::-moz-range-track, .filters input[type='range']::-moz-range-progress {
  width: 100%;
  height: 3px;
  background: #ccc; }

.filters input[type='range']::-moz-range-progress {
  background: #AF3B59; }

.filters input[type='range']::-moz-range-thumb {
  appearance: none;
  margin: 0;
  height: 20px;
  width: 20px;
  background: #AF3B59;
  background-image: url("../img/thumb.svg");
  border-radius: 100%;
  border: 0;
  transition: background-color 150ms;
  cursor: pointer; }

.filters .salary-subtext {
  color: #000;
  font-size: 13px; }

.head-panel {
  margin-top: 35px; }

.head-panel .searched-job {
  font-size: 18px;
  color: #8E77E1;
  margin-bottom: 5px;
  font-weight: 600; }

.head-panel .found-amount {
  color: #a6a6a6;
  font-size: 13px; }

.head-panel .sort-btns-box {
  margin-top: -20px;
  float: right;
  border-radius: 13px;
  overflow: hidden;
  padding: 0;
  display: flex;
  background-color: #fff; }

.head-panel .sort-btns-box li {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border: 1px solid #EDEDED;
  padding: 10px 0; }

.head-panel .sort-btns-box li.active {
  background-color: #8E77E1; }

.head-panel .sort-btns-box li img {
  height: 15px; }

.job-list {
  margin-top: 30px; }

.job-list h4 {
  font-size: 18px; }

.job-list h4.recommended {
  color: #47B4F7;
  font-weight: 600; }

.job-list .job-list-item {
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  border-radius: 25px;
  margin: 15px 0;
  position: relative;
  padding: 13px 3px 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  background-color: #fff; }

.job-list .job-list-item.recommended {
  background-image: url("../img/recommened_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 3px 20px 0px rgba(114, 74, 140, 0.18); }

.job-list .job-list-item.recommended .job-img {
  margin-left: 35px; }

.job-list .job-list-item .job-img {
  padding: 20px 0;
  text-align: center;
  width: 20%;
  margin-left: 10px;
  height: 111px; }

.job-list .job-list-item .name {
  color: #252525;
  font-size: 18px;
  font-weight: 600; }

.job-list .job-list-item .company {
  color: #47B4F7;
  font-size: 15px; }

.job-list .job-list-item .little-info {
  display: flex;
  color: #a6a6a6;
  font-size: 13px; }

.job-list .job-list-item .little-info div {
  padding: 20px 30px; }

.job-list .job-list-item .little-info div::before {
  padding-right: 5px;
  transform: translateY(4px);
  display: inline-block; }

.job-list .job-list-item .little-info .place {
  padding-left: 0; }

.job-list .job-list-item .little-info .place::before {
  content: url("../img/icons/place.png"); }

.job-list .job-list-item .little-info .salary::before {
  content: url("../img/icons/salary.png"); }

.job-list .job-list-item .little-info .date::before {
  content: url("../img/icons/date.png"); }

.save-btn {
  position: absolute;
  right: 30px;
  bottom: 30px;
  border: none;
  background-color: #fff;
  color: #8E77E1;
  cursor: pointer; }

.save-btn::before {
  content: url("../img/icons/save.png");
  padding-right: 5px;
  display: inline-block;
  transform: translateY(3px); }

.more-jobs-btn button {
  margin: 0 auto 40px; }

.specialist-row {
  margin: 0 0 40px;
  background-image: url(../img/specialist_bg.png);
  background-position: center;
  color: #fff; }

.specialist-row img {
  margin-top: -15px; }

.specialist-row h2 {
  margin-bottom: 30px;
  font-size: 28px; }

.specialist-row h2 .bigger-font {
  font-size: 38px;
  display: block; }

.specialist-row input {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  background-color: #724A8C;
  width: 395px; }

.specialist-row input::placeholder {
  color: #fff; }

.specialist-row button {
  background-color: #C6375C;
  border: none;
  outline: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-left: 5px; }

.specialist-row button img {
  margin-top: 0; }

#about {
  background-image: url("../img/about_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: #CBC2ED;
  padding: 89px;
  font-size: 13px; }

#about h2 {
  color: #fff;
  font-weight: 600;
  font-size: 18px; }

#about .orange {
  font-size: 15px; }

#about hr {
  height: 2px;
  width: 35px;
  background-color: #A996EE; }

#about .btn {
  width: 90px;
  margin: 0 auto; }

#about .btn .img-side-box {
  background-color: #A996EE; }

footer {
  background-image: -moz-linear-gradient(13deg, #3e3a73 0%, #b33d5a 100%);
  background-image: -webkit-linear-gradient(13deg, #3e3a73 0%, #b33d5a 100%);
  background-image: -ms-linear-gradient(13deg, #3e3a73 0%, #b33d5a 100%);
  color: #fff;
  padding: 40px; }

footer .partners {
  text-align: center;
  padding: 30px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25); }

footer .partners h2 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 600; }

footer .partners img {
  width: 100%; }

footer h3 {
  font-size: 16px;
  font-weight: 600; }

footer p, footer a {
  font-size: 13px; }

footer ul {
  padding: 0;
  list-style: none; }

footer ul a {
  color: #fff; }

footer .row {
  padding: 30px 0; }

footer .row div {
  padding-right: 15px; }

footer .row input {
  padding: 10px 20px;
  border-radius: 25px;
  border: none; }

footer .row input:focus {
  outline: none; }

footer .row input::placeholder {
  color: #67447d; }

footer .row button {
  background-color: #8E77E1;
  border: none;
  outline: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-left: 5px; }

.copyright {
  font-size: 13px;
  padding: 20px;
  color: #000; }

.copyright a {
  padding: 0 10px; }

.copyright img {
  height: 15px; }

.breadcrumbs {
  background-color: #fff;
  padding: 15px 20px; }

.breadcrumbs a {
  padding-right: 30px;
  color: #333;
  position: relative; }

.breadcrumbs a:not(:last-child)::after {
  content: url("../img/icons/angle-right.svg");
  height: 2px;
  width: 7px;
  position: absolute;
  right: 10px;
  display: inline-block; }

.breadcrumbs a.active {
  text-decoration: underline; }

.breadcrumbs a:hover {
  text-decoration: underline; }

.offer-side-bar {
  padding: 35px; }

.offer-side-bar .promoted {
  max-width: 310px;
  overflow: hidden;
  padding: 0 20px; }

.offer-side-bar .promoted img {
  margin-left: -20px; }

.offer-side-bar .promoted .info-body {
  padding: 0px;
  align-items: center; }

.offer-side-bar .promoted .info-footer {
  padding: 0; }

.offer-side-bar .promoted .info-footer button {
  box-shadow: none;
  margin: 10px 0;
  float: right; }

.offer-side-bar .heading {
  font-size: 18px;
  font-weight: 600;
  color: #333; }

.offer-side-bar .job-list-item {
  box-shadow: 0px 3px 20px 0px rgba(114, 74, 140, 0.18); }

.offer-side-bar .job-list-item .job-img {
  margin-right: 10px; }

.offer-side-bar .job-list-item .name {
  font-size: 18px; }

.offer-side-bar .job-list-item .little-info div {
  padding: 20px 15px 0; }

.offer-side-bar .apply-btn {
  margin-bottom: 10px; }

.apply-btn {
  background-color: #19D363;
  text-align: center;
  justify-content: center;
  color: #fff;
  border-radius: 50px;
  padding: 5px 40px; }

.apply-btn .img-side-box {
  background-color: #15B360; }

.offer-main-side .row {
  margin-top: -10px; }

.info-box {
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 3px 20px 0px rgba(114, 74, 140, 0.18);
  padding: 10px 20px;
  margin: 10px 5px;
  overflow: hidden; }

.info-box .heading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px; }

.info-box.main-info-box {
  margin-top: 35px;
  padding: 20px 0; }

.info-box .info-header {
  padding: 0 30px;
  border-bottom: 1px solid #e5e5e5; }

.info-box .info-header .first-line {
  font-size: 18px;
  margin-bottom: 5px; }

.info-box .info-header .first-line .name {
  font-weight: 600; }

.info-box .info-header .first-line .company {
  color: #47B4F7; }

.info-box .info-header .second-line {
  color: #a6a6a6;
  font-weight: 600; }

.info-box .info-header .second-line span {
  padding-right: 15px; }

.info-box .info-header .second-line .salary {
  color: #333; }

.info-box .info-body {
  padding: 20px 30px;
  display: flex; }

.info-box .info-body .company-img {
  margin: 15px; }

.info-box .info-body .company-img img {
  padding: 5px;
  border: 1px solid #a6a6a6;
  border-radius: 50%; }

.info-box .info-body .about-company .name {
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 15px; }

.info-box .info-body .about-company .description {
  color: #a6a6a6; }

.info-box .info-body .about-company .location {
  font-weight: 600;
  padding-bottom: 10px; }

.info-box .info-body .about-company a {
  color: #47B4F7;
  font-weight: 600; }

.info-box .info-body .about-company .btn {
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: none; }

.info-box .info-footer {
  padding: 0 30px;
  border-top: 1px solid #e5e5e5; }

.info-box .info-footer .save-btn {
  bottom: 10px; }

.info-box .info-footer .arrow-right {
  margin-bottom: -15px; }

.requirements .heading {
  padding-bottom: 10px; }

.requirements .flex-box div {
  width: 31%; }

.skills-list {
  padding: 0;
  list-style: none; }

.skills-list li {
  margin: 15px 0;
  padding-left: 10px;
  text-align: left;
  position: relative;
  display: flex;
  justify-content: space-between; }

.skills-list li::before {
  height: 3px;
  width: 3px;
  content: "";
  display: inline-block;
  background-color: #448bb9;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 0; }

.skills-list li span {
  background-color: #e5e5e5;
  height: 8px;
  width: 8px;
  display: inline-block;
  margin: 0 1px;
  border-radius: 50%; }

.skills-list li span.full {
  background-color: #47B4F7; }

.skills-list li .text {
  color: #a6a6a6; }

.map-box {
  position: relative;
  overflow: hidden;
  height: 300px; }

.map-box .map-heading {
  position: absolute;
  z-index: 3;
  width: 35%;
  height: 35%;
  left: 0;
  top: 0;
  padding: 20px;
  background: radial-gradient(ellipse at left top, white 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 70%); }

.map-box .map-box-content p {
  position: relative;
  z-index: 3; }

.map-box .map-box-content .info-box {
  width: 40%;
  float: right;
  z-index: 2; }

.map-box .map-box-content .info-box .description {
  color: #a6a6a6; }

.map-box .map-box-content .info-box .apply-btn {
  width: auto;
  padding: 0 40px; }

.map-box .map-box-content .info-box .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px; }

.map-box .map-box-content .info-box .buttons button {
  padding: 0 30px;
  display: inline-block;
  box-shadow: none; }

.map-box #map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1; }

.user-box {
  padding-top: 0 !important;
  text-align: center; }

.user-box .info-header {
  background-color: #8E77E1;
  height: 130px;
  position: relative; }

.user-box .info-header .user-panel {
  width: 210px;
  height: 165px;
  margin: 0 auto;
  position: relative; }

.user-box .info-header .user-panel .action-btn {
  background-color: #fff;
  height: 50px;
  width: 50px;
  display: block;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; }

.user-box .info-header .user-panel .action-btn#mail {
  left: 0;
  top: 65px; }

.user-box .info-header .user-panel .action-btn#users {
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 15px; }

.user-box .info-header .user-panel .action-btn#exp {
  right: 0;
  top: 65px; }

.user-box .info-header .user-panel .big-user-img {
  padding-top: 80px; }

.user-box .info-header #settings {
  position: absolute;
  right: 10px;
  bottom: 10px; }

.user-box .info-body {
  padding-top: 60px; }

.user-box .info-body .body-box {
  width: 375px;
  margin: 0 auto; }

.user-box .info-body .name {
  font-size: 18px;
  padding-bottom: 3px; }

.user-box .info-body .name .notification-box {
  display: inline-block;
  position: relative; }

.user-box .info-body .name .notification-box .notification {
  background-color: #E53935;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: -5px; }

.user-box .info-body .position {
  color: #a6a6a6;
  padding-bottom: 20px; }

.user-box .info-body .position a {
  color: #a6a6a6;
  text-decoration: underline; }

.user-box .info-body .activity-box {
  border-top: 1px solid #e5e5e5;
  padding: 10px 0 0;
  color: #a6a6a6; }

.user-box .info-body .activity-box #activity-value {
  color: #000;
  font-weight: 600; }

.user-box .info-body .activity-box .progress {
  position: relative;
  background-color: #D9DDE6;
  height: 4px;
  z-index: 2;
  width: 200px;
  margin: 0 auto; }

.user-box .info-body .activity-box .progress .progress-bar {
  width: 78%;
  background-color: #3882FF; }

.user-box .info-body .activity-box .progress .bars {
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  z-index: 1; }

.user-box .info-body .activity-box .progress .bars .bar {
  position: absolute;
  left: 20%;
  border-radius: -50%;
  background-color: white;
  width: 5px;
  height: 4px; }

.user-box .info-body .activity-box .progress .bars .bar:nth-child(2) {
  left: 40%; }

.user-box .info-body .activity-box .progress .bars .bar:nth-child(3) {
  left: 60%; }

.user-box .info-body .activity-box .progress .bars .bar:nth-child(4) {
  left: 80%; }

.user-box .info-footer {
  padding: 20px 20px 40px; }

.user-box .info-footer .heading {
  padding-bottom: 15px; }

.user-box .info-footer .description {
  color: #a6a6a6; }

ul {
  list-style: none !important; }

.user-list-text {
  display: none; }

.user-list-img img {
  position: absolute;
  left: 0;
  top: 0;
  height: 61px;
  width: 61px; }

.main-component {
  margin-top: 25px; }

.user-list-box {
  padding: 0px 20px 20px;
  margin-top: -15px; }

.user-list-box .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px; }

.user-list-box .heading span {
  display: flex;
  align-items: center; }

.user-list-box .heading span .list-img {
  height: 15px;
  padding-right: 17px; }

.user-list-box.recently-joined {
  margin-top: 10px;
  padding: 15px; }

.user-list-box.recently-joined .user-list .user-list-img img {
  height: 40px;
  width: 40px; }

.user-list-box .user-list {
  list-style: none;
  padding: 0; }

.user-list-box .user-list .user-list-text {
  display: block; }

.user-list-box .user-list .user-list-img img {
  position: relative;
  height: 61px;
  width: 61px; }

.user-list-box .user-list.recommended li {
  position: relative;
  background-color: #fff;
  padding: 12px;
  border-radius: 15px;
  box-shadow: 0px 3px 20px 0px rgba(114, 74, 140, 0.18);
  margin: 7.5px 0;
  width: 100%;
  display: flex;
  align-items: center; }

.user-list-box .user-list.recommended li .user-list-text {
  font-weight: 300; }

.user-list-box .user-list.recommended li .user-list-text .position {
  color: #47B4F7; }

.user-list-box .user-list.recommended li .user-list-text .name a {
  color: #000;
  border: none;
  padding: 0; }

.user-list-box .user-list li, .user-list-box .user-list a {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0;
  color: #000; }

.user-list-box .user-list li .user-list-img, .user-list-box .user-list a .user-list-img {
  padding-right: 15px; }

.user-list-box .user-list li .user-list-text .name, .user-list-box .user-list a .user-list-text .name {
  font-weight: 600; }

.user-list-box .user-list li .user-list-text .position, .user-list-box .user-list a .user-list-text .position {
  color: #a6a6a6; }

.user-list-box .lightpurple-btn {
  margin: 0 auto;
  box-shadow: none; }

.contact {
  padding: 20px 20px 5px; }

.contact .flex-box {
  padding: 0 0 15px; }

.flex-box {
  display: flex;
  justify-content: space-between; }

.exp-list {
  padding: 0; }

.exp-list li {
  display: flex;
  position: relative;
  padding: 15px 0 0; }

.exp-list li:not(:last-child) {
  padding: 15px 0 25px;
  border-bottom: 1px solid #e5e5e5; }

.exp-list li .exp-img {
  margin-right: 10px;
  border: 1px solid #e5e5e5;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-basis: 40px;
  flex-grow: 0;
  flex-shrink: 0; }

.exp-list li .name {
  font-size: 14px;
  padding: 10px 0 20px; }

.exp-list li .date {
  position: absolute;
  top: 25px;
  right: 0;
  color: #a6a6a6; }

.exp-list li .description {
  color: #a6a6a6;
  max-width: 470px; }

.connect .skills-list li .text {
  width: 45%; }

.connect .info-footer {
  color: #a6a6a6;
  padding: 10px 0; }

.connect .info-footer .btn {
  margin: 0 auto;
  box-shadow: none; }

.saved-jobs-list ul {
  margin-top: -5px;
  list-style: none;
  padding: 0; }

.saved-jobs-list ul li {
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  padding: 8px 0; }

.saved-jobs-list ul li .name {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 5px; }

.saved-jobs-list ul li .name a {
  font-weight: 400; }

.saved-jobs-list ul li .details {
  color: #a6a6a6; }

.saved-jobs-list ul li .details .location {
  padding: 0 45px 5px 20px;
  position: relative; }

.saved-jobs-list ul li .details .location::before {
  content: url("../img/icons/place.png");
  padding-right: 5px;
  position: absolute;
  left: 0px;
  top: -3px; }

.saved-jobs-list ul li .details .salary {
  position: relative; }

.saved-jobs-list ul li .details .salary::before {
  content: url("../img/icons/salary.png");
  position: absolute;
  left: -25px;
  top: -3px; }

.saved-jobs-list ul li #delete-btn {
  position: absolute;
  right: 0;
  top: 12px;
  background-color: #e5e5e5;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-image: url("../img/icons/cross.svg");
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: center center; }

.saved-jobs-list .lightpurple-btn {
  box-shadow: none;
  margin: 0 auto; }

.slider-box {
  padding: 20px 0; }

.slider-box .heading {
  font-size: 17px; }

.slider-box .slider .slide {
  padding: 0; }

.slider-box .slider .slide .img {
  height: 122px;
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid #e5e5e5; }

.slider-box .slider .slide .img img {
  width: 100%;
  margin: 0 auto; }

.slider-box .slider .slide .text {
  padding: 10px; }

.slider-box .slider .slide .text .title {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600; }

.slider-box .slider .slide .text .organizator {
  color: #a6a6a6;
  margin-bottom: 15px; }

.slider-box .slider .slide .text .details {
  color: #a6a6a6; }

.slider-box .slider .slide .text .details .location {
  padding-right: 45px; }

.slider-box .slider .slide .text .details div {
  display: inline-block; }

.slider-box .slider .slide .text .status {
  border-top: 1px solid #e5e5e5;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 14px;
  text-align: center; }

.slider-box .slider .slide .text .status .apply-btn {
  padding: 5px 30px;
  width: auto;
  margin: 0 auto;
  box-shadow: none; }

.slider-box .slider .slide .text .status p {
  margin: 9px 0; }

#dragula_choose_cancel {
  display: none; }

.page-heading {
  color: #8E77E1;
  font-size: 18px;
  padding: 30px 0 0 15px;
  display: inline-block; }

.add-component-user-email {
  color: #fff;
  font-size: 15px;
  display: inline-block;
  padding-left: 33%; }

.add-new-component {
  background-image: url("../img/recommened_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }

.add-new-component-p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: 25px 0; }

.plus-circle {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-image: url("../img/icons/plus.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 10px; }

.add-employers-list {
  padding: 0;
  font-size: 0; }

.add-employers-list li {
  background-image: url("../img/icons/add_empolyer.png");
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  background-color: #F3F5F6;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: relative;
  cursor: pointer;
  transition: 300ms; }

.add-employers-list li:hover:not(.empty-slot) {
  background-color: red;
  background-size: 15px;
  border: 1px solid red;
  background-image: url("../img/icons/cross.svg"); }

.add-employers-list li:hover:not(.empty-slot) img {
  opacity: .2; }

.component .info-header {
  padding: 0 0 20px; }

.component .info-body {
  padding: 10px 0 20px; }

.component .info-body .row {
  width: 100%; }

.component .info-body.requirements label {
  width: 95%; }

.component .info-body.requirements label .inputs-box {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }

.component .info-body.requirements label .inputs-box input {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 163px; }

.component .info-body.requirements p {
  color: #a6a6a6;
  margin: 5px 0 5px;
  display: flex;
  align-items: center; }

.component .info-body.requirements p .plus-circle {
  border-color: #a6a6a6;
  background-image: url("../img/icons/plus-gray.svg"); }

.component label {
  font-size: 14px;
  padding-top: 10px;
  width: 90%; }

.component label input {
  margin-top: 5px;
  color: #a6a6a6;
  display: block;
  border: none;
  background-color: #fff;
  box-shadow: 0 3px 10px #eee;
  width: 100%;
  border-radius: 25px;
  padding: 10px 15px; }

.component select {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border-radius: 25px;
  appearance: none;
  -ms-appearance: none;
  color: #a6a6a6;
  background-image: url("../img/icons/caret_down.svg");
  background-position: center right 25px;
  background-size: 13px 7px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  border: none;
  background-color: #fff;
  box-shadow: 0 3px 10px #eee;
  margin-top: 5px; }

.component .info-footer {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #a6a6a6;
  padding: 0; }

.component .info-footer .apply-btn {
  padding: 5px 60px; }

.component .info-footer button {
  margin: 0 5px;
  display: inline-block; }

.component .two-input-line {
  display: inline-block;
  flex: 1 0 auto; }

.component .two-input-line > div {
  display: flex;
  justify-content: space-between; }

.component .two-input-line > div input {
  width: 48%; }

.url-input {
  color: #47B4F7 !important; }

.panel {
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  overflow: hidden; }

.panel .panel-item {
  padding: 10px 15px; }

.panel .panel-item img {
  height: 15px; }

.panel .panel-item.active {
  background-color: #8E77E1; }

.info-box .info-body .job-list-item {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 0px 24px #e5e5e5; }

.accepting-box .info-body .job-list {
  text-align: left; }

.your-offer-decision {
  display: flex;
  position: absolute;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  right: -20px;
  top: 50px;
  border-radius: 50%; }

.your-offer-decision.accepted {
  background-color: #19D363;
  background-image: url("../img/icons/check.svg");
  background-position: center center;
  background-size: 20px;
  background-repeat: no-repeat; }

.your-offer-decision.rejected {
  background-image: url("../img/icons/check.svg");
  background-position: center center;
  background-size: 20px;
  background-repeat: no-repeat; }

.your-offer-decision.waiting {
  background-color: #a6a6a6;
  background-image: url("../img/icons/dots.svg");
  background-position: center center;
  background-size: 20px;
  background-repeat: no-repeat; }

.question {
  display: flex; }

.question label:not(:last-child) {
  margin-right: 10px; }

.question label:first-child {
  width: 140%; }

.question label:last-child {
  width: 60%; }

.add-new-test {
  display: none; }

.add-new-test.visible {
  display: block !important; }

#create_test_btn {
  cursor: pointer; }

.decision-list {
  padding: 0; }

.decision-list .user-list li, .decision-list .user-list a {
  background-color: #fff;
  padding: 20px;
  margin: 10px 0;
  border-radius: 25px;
  align-items: center;
  position: relative; }

.decision-list .user-list li .position, .decision-list .user-list a .position {
  color: #47B4F7 !important; }

.decision-list .user-list li .name, .decision-list .user-list a .name {
  color: #000; }

.decision-list .user-list li .your-offer-decision, .decision-list .user-list a .your-offer-decision {
  top: 30px; }

li.gu-transit {
  list-style: none; }

#dragula_right .recommended-user {
  cursor: pointer; }

@media only screen and (max-width: 991px) {
  .only-mobile {
    display: block !important; }
  #dragula_choose_cancel {
    display: flex;
    margin-bottom: 20px; }
  #dragula_choose_box {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: -2000px;
    left: 0;
    right: 0;
    z-index: 9;
    padding: 0 5%;
    height: 100%;
    overflow: scroll;
    margin: 0 auto;
    transition: 300ms; }
  #dragula_choose_box.showed {
    bottom: 0; }
  .component .info-footer {
    padding: 20px;
    text-align: center;
    display: block; }
  .component .info-footer span:first-child {
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-start; }
  .requirements .flex-box {
    display: block; }
  .requirements .flex-box > div {
    width: 100%; }
  .requirements .flex-box > div .dots {
    width: auto; }
  .contact .flex-box {
    display: block;
    text-align: center; }
  .connect .skills-list li .text {
    width: auto; }
  body {
    margin-bottom: 50px; }
  main {
    padding: 0 10px; }
  header {
    height: 260px; }
  header .search-box .logo {
    top: 5px; }
  header .search-box .search-bar {
    margin: 50px 0 0; }
  header .line1, header .line2 {
    top: 95px; }
  .btn .img-side-box {
    width: 33px; }
  #filters_toggle {
    display: block;
    position: fixed;
    bottom: 0; }
  .filters {
    position: fixed;
    bottom: -100vh;
    z-index: 9;
    max-width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 80%;
    overflow: scroll;
    width: 100%;
    background-color: #fff;
    transition: 400ms;
    border-radius: 0; }
  .filters.showed {
    bottom: 50px; }
  .filters .more-btn {
    display: block;
    margin: 0 auto; }
  .specialist-row {
    margin: 0 -10px 40px;
    text-align: center; }
  .specialist-row .specialist-text {
    margin: 30px 0; }
  .specialist-row .text-right {
    text-align: center !important; }
  .specialist-row input {
    width: 230px; }
  #about {
    margin: 0 -10px;
    background-size: cover;
    padding: 60px 90px; }
  .copyright {
    padding: 20px; }
  #filters_mask {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .6;
    position: fixed;
    z-index: 7;
    top: 0;
    left: 0; }
  #filters_mask.showed {
    cursor: pointer;
    display: block; }
  .info-box.main-info-box {
    margin-top: 75px; }
  .list-horizontal {
    display: block; }
  .offer-side-bar {
    margin: 0 auto;
    max-width: 390px; }
  .requirements .row {
    display: block; }
  .requirements .row .col-md-4 {
    max-width: 100%; } }

@media only screen and (max-width: 768px) {
  .exp-list li .name {
    padding-bottom: 5px; }
  .exp-list li .date {
    position: relative;
    top: 0; }
  .component .info-body.requirements label .inputs-box input {
    width: 100%;
    margin-bottom: 15px; }
  .page-heading {
    margin-top: 40px; }
  .component label {
    width: 100%; }
  .component .two-input-line input {
    width: 48%; }
  .btn:not(.cancel-btn) {
    padding: 10px 20px; }
  header {
    height: 305px; }
  header .top-bar {
    display: none; }
  header .line1, header .line2 {
    top: 140px; }
  header .mobile-top-bar {
    padding: 15px 20px;
    display: block; }
  header .mobile-top-bar .btn {
    width: 140px;
    margin: 5px 10px; }
  header .mobile-top-bar .first-line a {
    padding: 0 5px;
    color: #fff; }
  header .mobile-top-bar .first-line .user img {
    padding-right: 5px; }
  header .mobile-top-bar .second-line {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px; }
  header .search-box {
    width: 90%; }
  header .search-box .search-bar input {
    width: 60%; }
  header nav ul li {
    padding: 14px 5px; }
  .requirements .row {
    justify-content: space-around; }
  .requirements .row .col-md-4 {
    max-width: 30%; }
  .head-panel {
    margin-top: 75px; }
  .head-panel .sort-btns-box {
    position: absolute;
    top: 15px;
    right: 0;
    float: none;
    margin: 15px auto 15px; }
  .specialist-row .specialist-text {
    margin: 0 0 20px; }
  .specialist-row .specialist_img {
    width: 100%;
    max-width: 310px; }
  #about {
    padding: 40px 40px; }
  .job-list .job-list-item {
    padding: 20px; }
  .job-list .job-list-item.recommended {
    background-image: none;
    border: 1px solid #47B4F7; }
  .job-list .job-list-item.recommended .job-img {
    margin-left: 0; }
  .job-list .job-list-item .job-img {
    margin-left: 0; }
  .job-list .job-list-item .little-info div {
    padding: 20px 5px; }
  .map-box {
    height: 470px; }
  .map-box #map {
    height: 300px; }
  .map-box .map-box-content .info-box {
    position: absolute;
    top: 310px;
    width: 300px;
    box-shadow: none;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto; }
  footer {
    text-align: center; }
  footer input {
    width: 70%; }
  .offer-main-side .row {
    margin-top: -10px; }
  .offer-main-side .info-box .info-body {
    text-align: center;
    display: block !important; }
  .offer-main-side .info-box .info-body .btn {
    margin: 10px auto 0; } }

@media only screen and (max-width: 440px) {
  .slider-box .slider .slick-list {
    margin: 0 auto;
    max-width: 320px; }
  .user-box .info-body .body-box {
    width: 100%; }
  .job-list .job-list-item .job-img {
    display: none; }
  .specialist-row input {
    width: 210px; }
  .offer-side-bar {
    padding: 35px 0; } }

.decision-list .user-list li, .decision-list .user-list a {
  margin: 10px 20px 10px 0; }

@media only screen and (max-width: 385px) {
  .job-list .job-list-item .little-info {
    display: block; }
  .job-list .job-list-item .little-info div {
    padding: 5px 0; }
  .add-new-component p {
    font-size: 14px; }
  .add-new-component p .plus-circle {
    width: 20px;
    height: 20px;
    background-size: 10px; }
  .component .info-footer .apply-btn {
    padding: 5px 35px; } }
